//Reset
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    &:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

}

//Floating
.pull-right{float:right}
.pull-left{float:left}

//BgColor
.bgColor{
	background-color:color("colorsPalette", "clr-4");
}

//Shadows
.shadow{
	@include box-shadow( (rgba(153, 153, 153, 0.4) 0 0 25px));
}

.shadow1x{
	@include box-shadow( (rgba(153, 153, 153, 0.4) 0 0 7px));
}

.shadow2x{
	@include box-shadow( (rgba(0, 0, 0, 0.2) 0 1px 2px));
}

.shadow3x{
	@include box-shadow( (rgba(0, 0, 0, 0.3) 0 0 12px));
}


//Box styles

.roundBox{
	@include border-radius(2px,2px);
}

.box-std{
	padding:15px;
}

.img-responsive{
	max-width:100%;
}


// Show/hide
.hide{ display:none;}
.show{ display:block;}

//MovieBox Style 

.categories{
	-webkit-backface-visibility: hidden;
	&.fail{
		.mix{ display:block}
	}
	.mix{
		display:inline-block;
	}
	.mix{
		display:none;
	}
}

.moviePoster{
	text-align:center;
	&.lg{
		width:235px;
	}
	&.md{
		width:145px;
	}
	&.sm{
		width:72px;
	}
}


.movieLanguage, .startRating, .movieTime{
	margin:16px 0 0;
}

.movieCaret{
	position:relative;
	min-height:248px;
	.bookNowBtn{
		position:absolute;
		right:18px;
		bottom:20px;
	}
}
.movieCast{
	text-align:center;
	padding:5px 0;
	span{display: inline-block; margin: 0 0 0 -12px;
		&:first-child{ margin:0;}
	}
}

.movieVotes{
	position:absolute;
	right:0;
	top:0;
	img{  vertical-align: middle; display:inline-block;}
	span{font-size:15px; color:color("colorsPalette", "clr-1");}
	.votes {padding:5px 0 0;}
}

.frndsGoing{
	text-align:center;
	font-size:11px;
	padding:2px 0 8px;
}

.content-block{
	padding: 0 0 50px;
	h3{ margin:0 0 20px;}
	ul{
		li{display:block; float:left; width:100%;
			img{float:left;}
			.meta{
				float:left; line-height:17px; font-size:12px;
			}
			.metaName, .metaAge, .metaTime{ display:block;}
			.metaName{ font-weight:600;}
		}
	}
}

.filterBar{
	float:right;
	.filter{
		display:inline-block;
		 padding: 0 0 25px 0;
    	 margin: 0 0 0 40px;
		color:lighten($black, 35%);
		font-size:12px;
		&:first-child{
			font-size:13px;
			font-weight:600;
		}
		&.active{ border-bottom:2px solid color("colorsPalette", "clr-9");}
	}
}

.topMenuBar{
	border-bottom:1px solid lighten($black, 90%);
	float:left;
	width:100%;
}

.movieSlider{
	.moviePoster{ 
		margin:20px 0 0;
	}
	.movieCaret{
		height:325px;
	}
	.box-std{ padding:25px;}	
}

.filterBar{display:block;}
	.filterMobile{ display:none}

@media (max-width: $screen-sm) {
.movieSlider{
	.moviePoster{
		&.lg {
	    margin: 0 auto;
	    width: 155px;
		}
	}
	.movieCaret{
		height:auto;
		.bookNowBtn{
			position:static;
			text-align:center;
			margin:25px 0 0;
		}
	}
  }

  .movieCaretBox {
  	.movieCaret{
		height:auto;
		.bookNowBtn{
			position:static;
			text-align:center;
			margin:25px 0 0;
		}
	}
	.moviePoster{ margin-right:auto; margin-left:auto;}
  }
	.sidebar{
		margin:0 0 30px;
	}

	.filterBar{display:none;}
	.filterMobile{ display:block; float:right; margin:10px 0;}
	

}

@media (max-width:$screen-xs){
	.categories{ 
		.mix{
			width:100%;
		}
		}
}

.slick-list{
	min-height:380px;
}
.slick-prev{
	z-index:1;
	background:url('../images/arrowleft.png') no-repeat top left;
	height:65px;
	width:65px;
	&:before{content:'';}
	&:hover{background:url('../images/arrowleft.png') no-repeat top left;}
}

.slick-next{
	z-index:1;
	background:url('../images/arrowright.png') no-repeat top left;
	height:65px;
	width:65px;
	&:before{content:'';}
	&:hover{background:url('../images/arrowright.png') no-repeat top left;}
}

//Navigation
nav{
	background-color:color("colorsPalette", "clr-3");
	@include box-shadow( (rgba(153, 153, 153, 0.4) 0 0 25px));
	position:relative;
	z-index:10;
	.nav-header{
		float:left;
	}
	.logo{
		width:120px;
		display:block;
		padding:22px 0 0;
	}

	.navbar-toggle{
		float: right;
	    text-align: center;
	    z-index: 1;
	    cursor: pointer;
	    height: 40px;
	    margin: 20px 10px 0;
	    padding: 5px 0;
	    width: 35px;
	    display:none;
				span {
			    background-color: #000;
			    display: block;
			    height: 3px;
			    margin: 6px auto;
			    width: 28px;
			}

		&.active{
			span{position:absolute;left:0;right:0;top:13px;background-color:#000;
				&:first-child{@include transform(rotate(45deg));}
				&:last-child{@include transform(rotate(-45deg));}
				&:nth-child(2){display:none;}
			  }
			}
	}
}
.navigation{
	float: left;
    margin-left: 30px;
	li{
	
		display:inline-block;
		line-height:30px;
		padding:22px 10px;
		position:relative;

		a{
		color:color("colorsPalette", "base");
		  font-size: 18px;
		  font-weight: 600;
		  text-decoration: none;
		}
		&.active{
			
			padding-right:20px;
			a{
				color:color("colorsPalette", "clr-2");

				&:before{
					content:'';
					width:80%;
					height:3px;
					@include box-shadow( (rgba(153, 153, 153, 0.8) 0 0 15px));
					position:absolute;
					left:6%;
					bottom:0;
					background-color:color("colorsPalette", "clr-2");
				}

			}	
			
				&:after{
					content:'|';
					right:0;
					position:absolute;
				}
		}


	}
}

#nav-mobile{
	display:none;
	ul {
    display: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
}

@media (max-width: $screen-sm) {
	nav{
	padding: 0 0 10px;
		#nav-mobile{

			display:block;
			&.navigation{
				float:left; margin:0; text-align:left; width:100%;
				li{display:block; padding:14px 10px 15px; text-align:left;
				&.active{padding-right:0;}
				&:after{content:'';}
				a{text-align:left;}
				}
			}

			.expanded{ }
		}
		.navbar-toggle{
			display: block;
    		position: relative;
    	}
		#nav-desk{
			display:none;
		}
	}
}


//Custom Padding / Margin

.marT100{
	margin-top:100px;
}
.marT30{
	margin-top:30px;
}

.marT25{
	margin-top:25px;
}

.marT55{
	margin-top:55px;
}
.marT80{
	margin-top:80px;
}
.marT35{
	margin-top:35px;
}
.marT-65{
	margin-top:-65px;
}
.marT-52{
	margin-top:-52px;
}

.nopadding{
	padding:0;
}
.paddr0{ padding-right:0;}

.paddb100{ padding-bottom:100px;}